@import "_nullstylemeyer";
@import "_normalize";
@import "_fonts";

body {
  background-color: #e5e5e5;
  color: #000000;
}
.wrapper-light {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  &__Logo-simbol {
    margin-bottom: 68px;
    padding: 30px 0 0 30px;
    position: absolute;
  }
}

.block-color-type-page {
  &__container {
    width: 1099.26px;
    margin: 0 auto;
    padding-top: 145px;
    position: relative;
    left: -20.63px;
  }

  &__block-flex {
    display: flex;
    justify-content: space-between;
  }

  &__colors {
    .card1 {
      background-color: rgba(31, 32, 65, 1);
    }
    .card2 {
      background-color: rgba(31, 32, 65, 0.75);
      position: relative;
    }
    .card3 {
      background-color: rgba(31, 32, 65, 0.5);
    }
    .card4 {
      background-color: rgba(31, 32, 65, 0.25);
    }
    .card5 {
      background-color: rgba(31, 32, 65, 0.05);
    }
    .card6 {
      background-color: #bc9cff;
    }
    .card7 {
      background-color: #6fcf97;
    }
  }

  &__block-color {
    width: 269.26px;
    position: relative;
    height: 90px;
  }

  &__all-color {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;
    :last-child {
      margin-bottom: 0;
    }
  }
  &__block-texts {
    display: inline-block;
    position: absolute;
    width: 159.63px;
    top: 0;
    right: 0;
    padding-top: 5px;
  }
  &__color-description {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
  }
  &__color-name {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
  }
  &__texts {
    width: 403px;
  }

  &__block-text {
    position: relative;
    margin-bottom: 50px;
  }

  &__text-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    width: 37px;
    color: rgba(31, 32, 65, 0.25);
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  &__text-description {
    font-family: Quicksand;
    font-weight: bold;
    font-style: normal;
    word-wrap: break-word;
    width: 336px;
    height: 60px;
    color: #1f2041;
    position: absolute;
    right: 0;
    top: 0;
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }
  .block-text1 {
    font-size: 24px;
    height: 60px;
  }
  .text-name1 {
    line-height: 29.26px;
  }
  .text-description1 {
    line-height: 30px;
  }
  .block-text2 {
    font-size: 19px;
    height: 48px;
  }
  .text-name2 {
    line-height: 23.16px;
  }
  .text-description2 {
    line-height: 23.75px;
    height: 48px;
  }
  .block-text3 {
    font-size: 12px;
    line-height: 14.63px;
    height: 15px;
  }
  .text-name3 {
  }
  .text-description3 {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    height: 15px;
    text-transform: uppercase;
  }
  .block-text4 {
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    width: 368px;
  }
  .text-name4 {
  }
  .text-description4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    height: 48px;
    width: 301px;
    line-height: 24px;
    text-align: left;
    top: -3px;
  }
}
