.block-header2
   img.logo(src="../img/Logo.png" alt="logo") 
   nav.links 
      ul.menu2
         li
            a.one(href="#") Home
         li
            a(href="#") About Us
         li.tr
            a(href="#") Services
               <i class="material-icons">expand_more</i>
            ul.dropdown 	
               li.services 
                  a(href="#") Services1
               li.services 
                  a(href="#") Services2
               li.services 
               a(href="#") Services3
         li.pr
            a(href="#") Careers
         li
            a(href="#") News
         li 
            a(href="#") Documentation
         li.line
            a(href="#") Cosmin Negoita