<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles.headers-footers-2ex.css")
    link(rel="stylesheet" href="./src/fonts/iconfont/material-icons.css")
    link(rel="stylesheet" href="./src/fonts/awesomefont/awesome/all.min.css")
    title Headers-footers
  body
    .wrapper
      img.logo.logo__position(src="../src/img/Logosimbol.png", alt="Logo") 
      header.header.header__position
        .wrapper__container
          .wrap-flex-sb
            img.logotype.logotype__position(src="../src/img/Logo.png" alt="logotype") 
            //-элем-т флекс конт-ра
            .wrap-flex-row
              nav.header__menu 
                ul.menu-list
                  li.menu-list__li
                    a.link.link--active(href="#") Home
                  li.menu-list__li
                    a.link(href="#") About us
                  li.menu-list__li.topmenu
                    a.link.expand-more(href="#") Services
                    ul.menu-list.submenu 	
                      li.menu-list__li.services 
                        a.link(href="#") Services1
                      li.menu-list__li.services 
                        a.link(href="#") Services2
                      li.menu-list__li.services 
                        a.link(href="#") Services3
                  li.menu-list__li
                    a.link(href="#") Careers
                  li.menu-list__li
                    a.link(href="#") News
                  li.menu-list__li
                    a.link(href="#") Documentation
              button.btn.btn__position.btn--color--white.btn--size--a Login
              button.btn.btn__position.btn--color--gradulated.btn--size--c Register
      header.header2.header2__position
        .wrapper__container
          .wrap-flex-sb
            img.logotype.logotype__position(src="../src/img/Logo.png" alt="logotype") 
            //- элем-т флекс конт-ра
            nav.header__menu 
              ul.menu-list
                li.menu-list__li
                  a.link.link--active(href="#") Home
                li.menu-list__li
                  a.link(href="#") About us
                li.menu-list__li.topmenu
                  a.link.expand-more(href="#") Services
                  ul.menu-list.submenu 	
                    li.menu-list__li.services 
                      a.link(href="#") Services1
                    li.menu-list__li.services 
                      a.link(href="#") Services2
                    li.menu-list__li.services 
                      a.link(href="#") Services3
                li.menu-list__li
                  a.link(href="#") Careers
                li.menu-list__li
                  a.link(href="#") News
                li.menu-list__li
                  a.link(href="#") Documentation
                li.menu-list__li.line.menu-list__li-last
                  a.link(href="#") Cosmin Negoita
      footer.footer.footer__position
        .wrapper__container
          //-размеры по высоте
          .wrapper__container-height 
            .wrap-flex-sb
              .footer__content-logo-text
                img.logotype(src="../src/img/Logo.png" alt="logotype") 
                p.monserrat14 Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
              .footer__content-navigation
                .link-columns
                  //- flex cont
                  .wrap-flex-sb 
                    ul.link-columns__columns.link-columns__left-column
                      li.title.title__position Navigation
                      li.link-columns__li-elem
                        a.link(href="#") About us
                      li.link-columns__li-elem
                        a.link(href="#") News
                      li.link-columns__li-elem
                        a.link(href="#") Support
                      li.link-columns__li-elem
                        a.link(href="#") Products
                    ul.link-columns__columns.link-columns__center-column
                      li.title.title__position About us
                      li.link-columns__li-elem
                        a.link(href="#") Who we are
                      li.link-columns__li-elem
                        a.link(href="#") Our team
                      li.link-columns__li-elem
                        a.link(href="#") Careers
                      li.link-columns__li-elem
                        a.link(href="#") Investors
                    ul.link-columns__columns.link-columns__right-column
                      li.title.title__position Support
                      li.link-columns__li-elem
                        a.link(href="#") Documentation
                      li.link-columns__li-elem
                        a.link(href="#") Community
                      li.link-columns__li-elem
                        a.link(href="#") Get in touch
              .footer__content-subscribing
                .title.title__position Subscribe to our newsletter
                p.monserrat14 Receive our latest news and promotions in your inbox!
                form.footer__email-form(method="post")
                  input.footer__inputtext(type="email" placeholder="Your name address")
                  button.footer__button(type="submit")
                    i.arrow arrow_forward 
      footer.subfooter.subfooter__position
        .wrapper__container
          .wrap-flex-sb
            .wrap-flex-align-center
              p.monserrat14.monserrat14--line-height--17 Copyright © 2018 Toxin UI Kit. All rights reserved.
            ul.social-icons
              li.social-icons__icons-all
                a.social-icons__twitter(href="#")
              li.social-icons__icons-all
                a.social-icons__facebook(href="#")
              li.social-icons__icons-all
                a.social-icons__instagram(href="#")
      footer.footer2.footer2__position
        .wrapper__container-height
          img.logotype(src="../src/img/Logo.png" alt="logotype") 
          p.monserrat14.footer2__text-position Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
          ul.social-icons.footer2__icons-position
            li.social-icons__icons-all
              a.social-icons__twitter(href="#")
            li.social-icons__icons-all
              a.social-icons__facebook(href="#")
            li.social-icons__icons-all
              a.social-icons__instagram(href="#")











