<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./styles.headers-footers-2ex.css")
        link(rel="stylesheet" href="../src/fonts/iconfont/material-icons.css")
        link(rel="stylesheet" href="../src/fonts/awesomefont/awesome/all.min.css")
        title Headers-footers
    body
        .wrapper
            img.logotype(src="../src/img/Logosimbol.png", alt="Logotype") 
            header.header.header__position
                .wrapper__container
                    .wrap-flex-sb
                        img.logo(src="../src/img/Logo.png" alt="logo") 
                        //-элем-т флекс конт-ра
                        nav.header__menu 
                            ul.menu-list
                                li.menu-list__li.menu-list__li--active
                                    a.link(href="#") Home
                                li.menu-list__li
                                     a.link(href="#") About us
                                li.menu-list__li
                                    a.link(href="#") Services
                                li.menu-list__li
                                    a.link(href="#") Careers
                                li.menu-list__li
                                    a.link(href="#") News
                                li.menu-list__li
                                    a.link(href="#") Documentation
                            button.button.button--color--white Login
                            button.button.button--color--gradulated Register
            header.header2.header2__position
                .wrapper__container
                    .wrap-flex-sb
                        img.logo(src="../src/img/Logo.png" alt="logo") 
                        //- элем-т флекс конт-ра
                        nav.header2__menu 
                            ul.menu-list
                                li.menu-list__li.menu-list__li--active
                                    a.link(href="#") Home
                                li.menu-list__li
                                     a.link(href="#") About us
                                li.menu-list__li
                                    a.link(href="#") Services
                                li.menu-list__li
                                    a.link(href="#") Careers
                                li.menu-list__li
                                    a.link(href="#") News
                                li.menu-list__li
                                    a.link(href="#") Documentation
                            a.header2__registery-link(href="#") Cosmin Negoita
            footer.footer.footer__position
                .wrapper__container
                    //-размеры по высоте
                    .wrapper__container-height 
                        .wrap-flex-sb
                            .footer__content-logo-text
                                img.logo(src="../src/img/Logo.png" alt="logo") 
                                p.monserrat14 Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                            .footer__content-navigation
                                .link-columns
                                    //- flex cont
                                    .wrap-flex-jcc 
                                        ul.link-columns__left-column
                                            li.title Navigation
                                            li.link-columns__li-elem
                                                a.link(href="#") About us
                                            li.link-columns__li-elem
                                                a.link(href="#") News
                                            li.link-columns__li-elem
                                                a.link(href="#") Support
                                            li.link-columns__li-elem
                                                a.link(href="#") Products
                                        ul.link-columns__center-column
                                            li.title About us
                                            li.link-columns__li-elem
                                                a.link(href="#") Who we are
                                            li.link-columns__li-elem
                                                a.link(href="#") Our team
                                            li.link-columns__li-elem
                                                a.link(href="#") Careers
                                            li.link-columns__li-elem
                                                a.link(href="#") Investors
                                        ul.link-columns__right-column
                                            li.title Support
                                            li.link-columns__li-elem
                                                a.link(href="#") Documentation
                                            li.link-columns__li-elem
                                                a.link(href="#") Community
                                            li.link-columns__li-elem
                                                a.link(href="#") Get in touch
                            .footer__content-subscribing
                                .title Subscribe to our newsletter
                                p.monserrat14 Receive our latest news and promotions in your inbox!
                                form.footer__email-form(method="post")
                                    input.footer__inputtext(type="email" placeholder="Your name address")
                                    button.footer__button(type="submit")
                                        //- или псевдо?
                                        i.material-icons.footer__arrow arrow_forward 
            footer.subfooter.subfooter__position
                .wrapper__container
                    .wrap-flex-sb
                        p.monserrat14.monserrat14--line-height--17 Copyright © 2018 Toxin UI Kit. All rights reserved.
                        ul.social-icons
                            li.social-icons__icons-all
                                a.social-icons__twitter(href="#")
                            li.social-icons__icons-all
                                a.social-icons__facebook(href="#")
                            li.social-icons__icons-all
                                a.social-icons__instagram(href="#")
            footer.footer2.footer2__position
                .wrapper__container-footer2-height
                    img.logo(src="../src/img/Logo.png" alt="logo") 
                    p.monserrat14 Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                    ul.social-icons
                        li.social-icons__icons-all
                            a.social-icons__twitter(href="#")
                        li.social-icons__icons-all
                            a.social-icons__facebook(href="#")
                        li.social-icons__icons-all
                            a.social-icons__instagram(href="#")
                  









                    
