@import "./src/normalize-reset/normalize.scss";
@import "./src/fonts/fonts.scss";

@mixin Material-icons-style {
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

margin-right: 40px;
}
body {
  background-color: #e5e5e5;
  color: #000000;
  line-height: 0;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #f2f2f2;

  &__container {
    width: 1160px;
    margin: 0 auto;
  }

  &__container-height {
    padding-top: 100px;
    margin: 0 auto;
  }

}
.logo {
  height: 48px;
  width: 48px;
&__position {
  margin-bottom: 72px;
  padding: 30px 0 0 30px;
}  
}
// Блок хэдер
.header {
width: 1440px;
height: 70px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
margin: 0 auto;

  &__position {
margin-bottom: 40px;
  }
}
.wrap-flex-sb {
  display: flex;
  justify-content: space-between;
}
.wrap-flex-row {
  display: flex;
  flex-direction: row;
}
.wrap-flex-align-center {
  display: flex;
  align-items: center;
}
.logotype {
  min-width: 106px;
  height: 40px; 
  &__position {
    position: relative;
    top: 15px;
  }
}

.menu-list {
  display: flex;
  padding-left: 0;
&__li {
    list-style: none;
    padding-right: 30px;
    padding-top: 8px;

    }
&__li-last {
  padding-right: 0;
  padding-left: 30px;
}
  }
.topmenu {
position: relative;
    }
.submenu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
}
.topmenu:hover .submenu {
  display: block;
}

.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  &:hover {
    color: red;
    text-decoration: underline;
}
}
.link--active {
    font-weight: bold;
    }
.expand-more::after {
  content: 'expand_more';
  @include Material-icons-style();
  line-height: 20px;
  color: rgba(31, 32, 65, 0.5);
  position: relative;
  top: -18px;
  left: 55px;
  display: flex;
 }

.btn {
border-radius: 22px;
font-family: "Montserrat", sans-serif;
text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  &__position {
    margin-right: 20px;
    position: relative;
    top: 25%;}

&:last-child {
margin-right: 0;
    }
  }

.btn--color--white {
  color: #BC9CFF;
  background-color: #fff;
  border: 2px solid #BC9CFF;
}
.btn--color--gradulated {
  color: #fff;
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  border: none;
}
.btn--size--a {
  width: 79px;
height: 34px;
}
.btn--size--c {
  width: 101px;
height: 34px;
}
// Блок хэдер2
.header2 {
  margin: 0 auto;
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__position {
    margin-bottom: 40px;
  }
}
.line {
    position: relative;
  &::before {
      content: " ";
      background: rgba(31, 32, 65, 0.1);
      width: 1px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 30px;
      margin-top: 5px;
    }
  }
// Блок футер
.footer {
  width: 1440px;
  height: 372px;
  background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
margin: 0 auto;

  &__content-logo-text {
    width: 260px;
    margin-right: 40px;
  }

  &__content-navigation {
    flex-grow: 1;
  }

  &__content-subscribing {
    width: 260px;
    margin: 4px 0 0 0;
  }

  &__email-form {
    
    width: 260px;
  position: relative;
    margin: 21px 0 0 0;
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__inputtext {
    color: rgba(31, 32, 65, 0.25);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0 0 15px;
    border: none;
  
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    
  }

  .arrow {
    content: 'arrow_forward';
    @include Material-icons-style();
    line-height: 24px;
    color: #bc9cff;
background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.button {width: 42px;
  border: none;
height: 42px;
background-color: #fff;}
.monserrat14 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}
.link-columns {
  &__columns {list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
}
  &__li-elem {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__right-column {
    margin-right: 87px;
  }
}

.title {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
&__position {
margin-bottom: 21px;
}

}
// Блок сабфутер
.subfooter {
  width: 1440px;
  height: 70px;
  background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-top: 1px solid rgba(31, 32, 65, 0.1);
margin: 0 auto;
  &__position {
margin-bottom: 40px;
  }
}
.monserrat14--line-height--17 {
  line-height: 17px;

}
.social-icons {
  list-style: none;
  border: none;
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-family: "Font Awesome 5 Brands";
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #bc9cff;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  &__icons-all {
    align-items: center;
  }

  &__twitter:after {
    content: '\f099';
    }
  &__facebook:after {
    content: '\f082';
    }
  &__instagram:after {
    content: '\f16d';
    }  
}
// Блок футер2
.footer2 {
  width: 1440px;
  height: 367px;
  background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
margin: 0 auto;
text-align: center;
&__text-position {
  width: 560px;
  margin: 0 auto;
  margin-top: 15px;
}
&__icons-position {
  margin: 0 auto;
  position: relative;
  top: 30px;
  right: 20px;
}
}
