@import "../src/normalize-reset/normalize";
// @import "_nullstylemeyer";
@import "../src/fonts/fonts";
@import "../src/searching-room-form/styles.searching-room-form";

// [type="number"]::-webkit-inner-spin-button,
// [type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   -moz-appearance: textfield;
// }
[type="date"]::-webkit-inner-spin-button,
[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body {
  line-height: 0;
  background-color: #e5e5e5;
  color: #000000;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #f2f2f2;
  &__Logo-simbol {
    margin-bottom: 72px;
    padding: 30px 0 0 30px;
  }
}
.block-cards-page {
  &__container {
    width: 1160px;
    margin: 0 auto;
  }
}

