.block-footer2
   .block-footer2__container
      .block-footer2__logo
         img(src="/img/Logo.png" alt="logo")
      .block-footer2__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .block-footer2__social-icons
         ul.block-footer2__icons
                  li
                     a(href="#")
                        i.block-footer2__twitter.fab.fa-twitter 
                  li
                     a(href="#")
                        i.block-footer2__facebook.fab.fa-facebook-square
                  li
                     a(href="#")
                        i.block-footer2__instagram.fab.fa-instagram