.block-footer
   .block-footer__container
      .block-footer__block-flex
         .block-footer__block-logo-text
            .block-footer__logo
               img(src="/img/Logo.png" alt="logo")
            .block-footer__text.text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
         .footer-column
            .footer-column__row
               .footer-column__title.title Navigation
               .footer-column__link
                  a(href="#") About us
               .footer-column__link
                  a(href="#") News
               .footer-column__link
                  a(href="#") Support
               .footer-column__link
                  a(href="#") Products
            .footer-column__row
               .footer-column__title.title ABOUT US
               .footer-column__link
                  a(href="#") Who we are
               .footer-column__link
                  a(href="#") Our team
               .footer-column__link
                  a(href="#") Careers
               .footer-column__link
                  a(href="#") Investors
            .footer-column__row
               .footer-column__title.title Support
               .footer-column__link
                  a(href="#") Documentation
               .footer-column__link
                  a(href="#") Community
               .footer-column__link
                  a(href="#") Get in Touch
         .subscribing
            .subscribing__title.title Subscribe to our newsletter
            .subscribing__text.text Receive our latest news and promotions in your inbox!
            .subscribing__form
               form.subscribing__email-form(method="post")
                  input.subscribing__inputtext(type="email" placeholder="Your name address")
                  button.subscribing__button(type="submit")
                     i.material-icons.subscribing__arrow arrow_forward

