.blockFooter2
   .blockFooter2__container
      .blockFooter2__logo
         img(src="/img/Logo.png" alt="logo")
      .blockFooter2__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .blockFooter2__social-icons
         ul.blockFooter2__icons
                  li
                     a(href="#")
                        i.blockFooter2__twitter.fab.fa-twitter 
                  li
                     a(href="#")
                        i.blockFooter2__facebook.fab.fa-facebook-square
                  li
                     a(href="#")
                        i.blockFooter2__instagram.fab.fa-instagram