<!DOCTYPE html>
html(lang="en")
head
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width,       initial-scale=1.0")
   link(rel="stylesheet" href="/css/styles.headers&footers.css")
   link(rel="stylesheet" href="/fonts/iconfont/material-icons.css")
   link(rel="stylesheet" href="/fonts/awesomefont/awesome/all.min.css")

   title Headers&footers
body
   .wrapper
      .wrapper__LogoSimbol 
         img(src="/img/Logosimbol.png", alt="Logotype")
      include ./header.pug
      .wrapper__interlayer
      include ./header2.pug
      .wrapper__interlayer
      include ./footer.pug
      include ./subfooter.pug
      .wrapper__interlayer
      include ./footer2.pug