div.block-header
   img.logo(src="/img/Logo.png" alt="logo") 
   nav.links 
      ul.menu
         li
            a.one(href="#") Home
         li
            a(href="#") About Us
         li.tr
            a(href="#") Services
               <i class="material-icons">expand_more</i>
            ul.dropdown 	
               li.services 
                  a(href="#") Services1
               li.services 
                  a(href="#") Services2
               li.services 
               a(href="#") Services3
         li.pr
            a(href="#") Careers
         li
            a(href="#") News
         li 
            a(href="#") Documentation
   button.button11
      button.button1 Login
   button.button2 Register

