<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,       initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/fonts/iconfont/material-icons.css")
    link(rel="stylesheet" href="/fonts/awesomefont/awesome/all.min.css")
   
    title Layout
  body
    //- include ./header.pug
    //- include ./header2.pug
    //- include ./footer.pug
    include ./subfooter.pug


