.blockSubfooter
   .blockSubfooter__container
         .blockSubfooter__blockFlex
            .blockSubfooter__text Copyright © 2018 Toxin UI Kit. All rights reserved.
            ul.blockSubfooter__icons
               li
                  a(href="#")
                     i.blockSubfooter__twitter.fab.fa-twitter 
               li
                  a(href="#")
                     i.blockSubfooter__facebook.fab.fa-facebook-square
               li
                  a(href="#")
                     i.blockSubfooter__instagram.fab.fa-instagram
                  

