.block-subfooter
   .block-subfooter__container
         .block-subfooter__block-flex
            .block-subfooter__text Copyright © 2018 Toxin UI Kit. All rights reserved.
            ul.block-subfooter__icons
               li
                  a(href="#")
                     i.block-subfooter__twitter.fab.fa-twitter 
               li
                  a(href="#")
                     i.block-subfooter__facebook.fab.fa-facebook-square
               li
                  a(href="#")
                     i.block-subfooter__instagram.fab.fa-instagram
                  

