<!DOCTYPE html>
html(lang="en")
head
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width,       initial-scale=1.0")
   link(rel="stylesheet" href="./styles.headers&footers.css")
   link(rel="stylesheet" href="../fonts/iconfont/material-icons.css")
   link(rel="stylesheet" href="../fonts/awesomefont/awesome/all.min.css")

   title Headers&footers
body
   .wrapper
      .wrapper__Logo-simbol 
         img(src="../img/Logosimbol.png", alt="Logotype")
      include ../header/header.pug
      .wrapper__interlayer
      include ../header2/header2.pug
      .wrapper__interlayer
      include ../footer/footer.pug
      include ../subfooter/subfooter.pug
      .wrapper__interlayer
      include ../footer2/footer2.pug