@import "../normalize-reset/nullstylemeyer";
@import "../normalize-reset/normalize";
@import "../fonts/fonts";
@import "../header/styles.header";
@import "../header2/styles.header2";
@import "../footer/styles.footer";
@import "../subfooter/styles.subfooter";
@import "../footer2/styles.footer2";

body {
  background-color: #e5e5e5;
  color: #000000;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #f2f2f2;
  &__Logo-simbol {
    margin-bottom: 68px;
    padding: 30px 0 0 30px;
  }
  &__interlayer {
    height: 40px;
  }
}
