.block-footer2
   .block-footer2__container
      .block-footer2__logo
         img(src="../src/img/Logo.png" alt="logo")
      .block-footer2__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .block-footer2__social-icons
         include ../subfooter/__icons.pug
                  