<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,       initial-scale=1.0")
      link(rel="stylesheet" href="./styles.cards.css")
      link(rel="stylesheet" href="../fonts/iconfont/material-icons.css")
      link(rel="stylesheet" href="../fonts/awesomefont/awesome/all.min.css")

      title Cards
   body
      .wrapper
         .wrapper__Logo-simbol 
            img(src="../img/Logosimbol.png", alt="Logotype")
         .block-cards-page
            .block-cards-page__container
               include ../searching-room-form/searching-room-form.pug